body{
    font-family: lexend deca;
    background-image: url(images/White_tile.jpg);
    background-size: contain;
    margin: 0;
}
h2{
    background-color: #ffffff;
    border: #00291C solid 2px;
    border-radius: 20px;
}
.logo{
    width: 5rem;
    margin: 1rem;
}
.hamburger{
    width: 75px;
    padding: 0.5rem;
}
.hamburger hr{
    margin: 0.75rem 1rem;
    border: 2px solid #f0e6c3;
}
header h1{
    color: #f0e6c3;
    font-size: 1rem;
}
header nav{
    position: fixed;
    top: 7rem;
    width: 100%;
    right: -105%;
    transition-property: right;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
header nav a{
    display: block;
    color: #00291C;
    background-color:#f0e6c3;
    text-align: center;
    text-decoration: none;
    padding: 3rem;
    border: 1px solid #00291C;
}
header{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    top: 0;
    width: 100%;
    margin: 0;
    background-color: #00291C;
}
header nav.show{
    right: 0;
}
main img{
    width: 22rem;
}
.home{
    margin: 1rem 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.order{
    background-color: #00291C;
    position: absolute;
    bottom: -5rem;
    padding: 2rem;
    border-radius: 20px;
    width: 10rem;
    text-align: center;
}
.order a{
    color: #f0e6c3;
    font-size: 1.5rem;
    text-decoration: none;
}
footer{
    background-color: #3b0014;
    padding: 2rem;
}
.socials{
    display: flex;
    justify-content: center;
}
.socials img{
    width: 2rem;
    padding: 1rem;
}
main h2{
    margin-top: 10rem;
    text-align: center;
    font-size: 3rem;
    color: #00291C;
}
.storybox{
    background-color: #ffffff;
    border: #00291C solid 4px;
    color: #00291C;
    margin: 0 2rem 5rem;
    height: 20rem;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
}
.online{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.onlinebutton{
    position: absolute;
    background-color: #00291C;
    bottom: 0rem;
    padding: 2rem 1rem;
    border-radius: 20px;
    width: 16rem;
    text-align: center;
}
.onlinebutton a{
    color: #f0e6c3;
    font-size: 1.5rem;
    text-decoration: none;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1.25rem;
    margin: 3rem 0 6rem;
}
input{
    border: #00291C solid 2px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 0.5rem;
}
label{
    font-size: 1.5rem;
    color: #00291C;
}
textarea{
    border: #00291C solid 2px;
    background-color: #ffffff;
    color: #00291C;
    width: 50%;
    border-radius: 15px;
    font-family: lexend deca;
    text-align: center;
    height: 10rem;
}
.action{
    display: flex;
    margin: 2rem;
    font-family: lexend deca;
}
.action input{
    margin: 1rem;
}
.whole{
    background-color: white;
    border: #00291C solid 2px;
    padding: 2rem;
    text-align: left;
    margin: 1rem;
    border-radius: 25px;
    width: 70%;
}
.whole label{
    font-size: 1rem;
}
.sizes{
    display: flex;
    justify-content: flex-start;
}
.menu label{
    margin: 0;
}
.toppings{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
h3{
    font-size: 2rem;
    color: #00291C;
    line-height: 2rem;
}
h4{
    font-size: 1.75rem;
    color: #00291C;
}
.paymentheading{
    margin-top: 2rem;
}
.paymentwhole{
    background-color: white;
    border: #00291C solid 2px;
    padding: 2rem;
    text-align: left;
    margin: 1rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3rem;
    width: 70%;
}
.payment input{
    width: 50%;
}
.contact input{
    width: 50%;
}
.contact{
    line-height: 3rem;
}
@media(max-width: 390px){
    .payment label{
        font-size: 1rem;
    }
    .storybox{
        font-size: 0.75rem;
    }
}
@media(min-width: 562px){
    .order{
        bottom: -1rem;
    }
}
@media(min-width: 800px){
    .logo{
        width: 11rem;
    }
    .order{
        bottom: 1rem;
    }
    header{
        position: relative;
        display: flex;
        flex-direction: column;

    }
    main h2{
        margin-top: 2rem;
    }
    .hamburger{
    width: 75px;
    padding: 0.5rem;
}
.hamburger hr{
    margin: 0;
    border: none;
}
header h1{
    color: #f0e6c3;
    font-size: 0rem;
}
header nav{
    position: relative;
    display: flex;
    justify-content: center;
    top: 0rem;
    width: 50%;
    right: 0%;
    transition-property: none;
}
header nav a{
    display: block;
    color: #f0e6c3;
    background-color: #00291C;
    text-align: center;
    text-decoration: none;
    padding: 0;
    border: none;
    margin: 2rem;
    font-size: 1.5rem;
}
.storybox{
    font-size: 1.5rem;
}
header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    top: 0;
    width: 100%;
    margin: 0;
    background-color: #00291C;
}
.onlinebutton{
    bottom: -13rem;
}
.socials img{
    width: 3rem;
}
.checkbox{
    width: 1rem;
}
.contact{
    line-height: 2rem;
}
.contact input{
    width: 50%;
}
textarea{
    height: 18rem;
}
.order{
    bottom: -13rem;
}
}
@media(min-width: 1000px){
    .order{
        bottom: -13rem;
    }
}
@media(min-width: 1100px){
    .order{
        bottom: -8rem;
    }
    .onlinebutton{
        bottom: -8rem;
    }
    .storybox{
        font-size: 2rem;
    }
}

