body{
    font-family: lexend deca;
    background-image: url(images/White_tile.jpg);
    background-size: contain;
    margin: 0;
}
.logo{
    width: 5rem;
    margin: 1rem;
}
.hamburger{
    width: 75px;
    padding: 0.5rem;
}
.hamburger hr{
    margin: 0.75rem 1rem;
    border: 2px solid #f0e6c3;
}
header h1{
    color: #f0e6c3;
    font-size: 1rem;
}
header nav{
    position: fixed;
    top: 7rem;
    width: 100%;
    right: -105%;
    transition-property: right;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
header nav a{
    display: block;
    color: #00291C;
    background-color:#f0e6c3;
    text-align: center;
    text-decoration: none;
    padding: 3rem;
    border: 1px solid #00291C;
}
header{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    top: 0;
    width: 100%;
    margin: 0;
    background-color: #00291C;
}
header nav.show{
    right: 0;
}
main img{
    width: 22rem;
}
.home{
    margin: 1rem 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.order{
    position: absolute;
    bottom: 6rem;
    background-color: #00291C;
    padding: 2rem;
    border-radius: 20px;
    width: 10rem;
    left: 6rem;
    text-align: center;
}
.order a{
    color: #f0e6c3;
    font-size: 1.5rem;
    text-decoration: none;
}
footer{
    background-color: #3b0014;
    padding: 2rem;
}
.socials{
    display: flex;
    justify-content: center;
}
.socials img{
    width: 2rem;
    padding: 1rem;
}
main h2{
    margin-top: 10rem;
    text-align: center;
    font-size: 3rem;
    color: #00291C;
}
.storybox{
    background-color: #f0e6c3;
    border: #00291C solid 4px;
    color: #00291C;
    margin: 0 2rem 5rem;
    height: 13rem;
    border-radius: 15px;
}
.online{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.onlinebutton{
    position: absolute;
    bottom: 10rem;
    background-color: #00291C;
    padding: 2rem 1rem;
    border-radius: 20px;
    width: 16rem;
    left: 4.5rem;
    text-align: center;
}
.onlinebutton a{
    color: #f0e6c3;
    font-size: 1.5rem;
    text-decoration: none;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    margin: 5rem 0 6rem;
}
input{
    border: #00291C solid 2px;
    background-color: #f0e6c3;
    border-radius: 15px;
    width: 70%;
    padding: 0.5rem;
    margin: 1rem;
}
label{
    font-size: 1.5rem;
    color: #00291C;
}
textarea{
    border: #00291C solid 2px;
    background-color: #f0e6c3;
    color: #00291C;
    width: 70%;
    border-radius: 15px;
    font-family: lexend deca;
    text-align: center;
}
.action{
    display: flex;
    margin: 2rem;
}
.whole{
    background-color: white;
    border: #00291C solid 2px;
    padding: 2rem;
    text-align: center;
}
.sizes{
    display: flex;
}
.menu label{
    margin: 0;
}
